input, select {
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    border: 3px solid rgb(139, 6, 6);
}

.btn {
    cursor: pointer;
    background-color: rgb(184, 0, 0);
    color: white;
}

.btn:hover {
    background-color: rgb(108, 0, 0);
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
}

#results {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
