.hand {
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: bottom center;
    background: white;
    border-radius: 9999px;
}

.hand-hour {
    width: 6px;
    height: 60px;
    margin-left: -3px;
    margin-top: -60px;
}

.hand-minute {
    width: 4px;
    height: 90px;
    margin-left: -2px;
    margin-top: -90px;
}

.hand-second {
    width: 2px;
    height: 100px;
    margin-left: -1px;
    margin-top: -100px;
    background: #a78bfa;
    box-shadow: 0 0 10px #a78bfa;
}