.zone {
    display: flex;
    gap: 10px;
    margin: 20px 0;
    border: 1x solid black;
    width: 900px;
    height: 950px;
}

.piece {
    width: 80px;
    cursor: grab;
}

.slot {
    width: 80px;
    height: 80px;
    border: 2px dashed #ccc;
}

#result {
    font-size: 20px;
    font-weight: bold;
}